* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
 
  text-decoration: none;
}

.navbar a {
  color: tomato;
  text-decoration: none;
}

body{
background:url("https://media.giphy.com/media/ORHfaKUXFjAAw/giphy.gif");